.messageBlock {
    background-color: white;
}

.message {
    color: black;
}

.newMessage{
    display: grid;
    grid-template-rows: minmax(40px, auto) 20px;
}

.button_sendMessage{
    width: 15%;
    justify-self: end;
}