.myPosts {
	padding: 10px;
	display: grid;
	grid-template-rows: minmax(135px, auto) 1fr;
	grid-template-columns: 100%;
	grid-area: myPosts;
}

.postCreator {
	display: grid;
	grid-template-rows: 50px minmax(90px, auto);
}

.postCreator h1 {
	margin: 0;
}

.newPost {
	display: grid;
	grid-template-rows: minmax(70px, auto) 20px;
}

.button_addPost {
	width: 15%;
	justify-self: end;
}

.posts {
	display: grid;
	grid-row-gap: 10px;
}
