.header {
	grid-area: h;
	background-color: green;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header img {
	width: 60px;
}

.loginBlock {
	padding-right: 10px;
}

.loginBlock a {
	color: white;
	text-decoration: none;
}

.logoutBlock {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}

.authorizedUser {
	display: flex;
	height: 60px;
	justify-content: center;
	align-items: center;
}

.logout {
	cursor: pointer;
}

.photoAuthorizedUser img {
	border: 1px solid black;
	border-radius: 50%;
	height: 40px;
	width: 40px;
}

.loginAuthorizedUser {
	padding-left: 10px;
}
