.pagination {
	display: grid;
	height: 40px;
	grid-auto-flow: column;
	justify-content: center;
	grid-template-rows: 1fr;
	align-items: center;
	grid-column-gap: 5px;
}

.selectedPage {
	display: grid;
	color: black;
	font-weight: bold;
	border: 2px solid black;
	border-radius: 50%;
	height: 30px;
	width: 30px;
	justify-content: center;
	align-content: center;
}

.unselectedPage {
	display: grid;
	border: 1px solid black;
	border-radius: 50%;
	height: 30px;
	width: 30px;
	justify-content: center;
	align-content: center;
}
